.content_box {
    max-width: 1140px;
}
/* NAV */
nav {
    background-color: #2c3e50;
}
.container.nav_bar {
    height: 70px;
    vertical-align: middle;
    font-size: 15px;
    color: white;
    line-height: 70px;
    max-width: 1140px;
}
.page_title a {
    text-decoration: none;
    color: white;
    font-size: 25px;
    font-weight: 600;
}
.menu_list a {
    text-decoration: none;
    color: white;
}
.menu_link {
    float: left;
    list-style-type: none;
    text-align: center;
}
.mobile_menu {
    display: none;
}

/* MAIN BANNER*/
.container.main_banner {
    background-color: #1abc9c;
    color: white;
}
.banner_image {
    margin-top: 30px;
}
.banner_title{
    font-size: 50px;
    font-weight: 700;
    text-align: center;
}
.deco_line, .deco_star{
    display: inline-block;
}
.banner_star_line::before,
.banner_star_line::after {
    content: "";
    width: 15%;
    height: 3px;
    border-radius: 1px;
    display: inline-block;
    position:relative;
    bottom: 15px;
    border: 3px solid;
    display: inline-block;
    vertical-align: bottom;
}
.banner_star_line{
    position: relative;
    line-height: 30px;
    text-align: center;
}
.fa-star{
    font-size: 20px;
    vertical-align: top;
    text-align: center;
}
.profession h2{
    font-size: 25px;
    margin-bottom: 50px;
}
/* PORTFOLIO */
.container.portfolio {
    color: #333333;
}
.section_title {
    text-transform: uppercase;
    text-align: center;
    font-size: 40px;
    margin-top: 50px;
}
.pic_row{
    margin-top:10px;
    margin-bottom: 30px;
}
.pic {
    float: left;
}
.pic img{
    width: 100%;
    padding-bottom: 10px;
    padding-top: 10px;
}

/* ABOUT */
.container.about {
    background-color: #1abc9c;
    color: white;
}
.text_container {
    font-size: 20px;
}
.download_button {
    border: 2px solid white;
    border-radius: 5px;
    height: 60px;
    margin-top: 20px;
    margin-bottom: 50px;
    line-height: 60px;
    vertical-align: middle;
    font-size: 16px;
    text-align: center;
}
/* CONTACT ME */
.container.contact_me {
    /* height: 800px; */
}
.contact_form {
    border: none;
    line-height: 60px;
    font-size: 25px;
}
button.contact_form {
    background-color: #1abc9c;
    color: white;
    border-radius: 5px;
    margin-bottom: 30px;
}
/* FOOTER CONTACTS */
.container.footer_contacts {
    background-color: #2c3e50;
    color: white;
    font-size: 15px;
}
.footer_contact{
    margin-top: 40px;
    margin-bottom: 40px;
}
.social_title {
    margin-bottom: 20px;
}
.social_icon{
    border: 1px solid white;
    border-radius: 50%;
    padding: 20px;
}

.container.footer_copyright {
    height: 100px;
    background-color: #1a252f;
    color: white;
}
.copyright {
    padding-top: 20px;
    padding-bottom: 20px;
}
@media all and (max-width:991px) {

    .page_title {
        font-size: 15px;
        height: 70px;
        line-height: 70px;
    }
    .menu_link {
        height: 70px;
        line-height: 70px;
        vertical-align: middle;
    }
    .download_button{
        font-size: 15px;
    }
    .social_icon{
        padding: 5px;
    }
}
@media all and (max-width:767px) {
    .menu_list {
        display: none;
    }
    .mobile_menu {
        display: block;
    }
    .page_title a{
        font-size: 15px;
    }
    .banner_title {
        font-size: 30px;
    }
    .profession h2{
        font-size: 10px;
    }
}
@media all and (min-width:921px) {
    .social_icon{
      font-size: 30px;
    }
}
